@theme {
  --font-family-primary: 'Figtree', sans-serif;

  --color-dust-grey: #daddd8;
  --color-tea-green: #c7d59f;
  --color-yellow-green: #b7ce63;
  --color-lime-moss: #8fb339;
  --color-ebony: #4b5842;

  --color-background: var(--color-dust-grey);
  --color-primary: var(--color-tea-green);
  --color-secondary: var(--color-lime-moss);
  --color-accent: var(--color-yellow-green);
  --color-success: var(--color-lime-moss);
  --color-attention: var(--color-ebony);
}
